<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Mission to Mars</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
  <div class="container-fluid">
    <div class="jumbotron text-center">
      <h1>Mission to Mars</h1>
      <p>News. Weather. Facts. Images.</p>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
    </div>
    <h1>Latest Mars News</h1>
    <hr>
    <h4>{{ mars.news_title }}</h4>
    <p>{{ mars.news_p }}</p>
    <hr>
    <br>
    <div class='container'>
        <div class='row'>
            <div class='col-md-8'>
                <h1>Featured Mars Image</h1>
                <img src='{{ mars.featured_image_url }}' alt='Mars Featured Image' style="width:100%">
            </div>
            <div class='col-md-4'>
                <br>
                <br>
                <div class='box border rounded' id="weatherbox" style="padding:20px">
                    <h3>Current Weather On Mars</h3>
                    <div>{{ mars.mars_weather}}</div>
                </div>
                <br>
                <h3>Mars Facts</h3>
                <object data='{{ mars.html_table }}'></object>
            </div>
        </div>
    </div>
    <br>
    <h1 align='center'>Mars Hemispheres</h1>
    <hr>
    <div class='row'>
        {% for hemisphere in mars.hemisphere_image_urls %}        
        <div class="col-md-6">
          <h3>{{ hemisphere.title }}</h3>       
          <div class='thumbnail'>
            <img src='{{ hemisphere.img_url | default("static/images/error.png", true)}}' alt='...' style="padding:20px">
          </div>
        </div>      
        {% endfor %}
    </div>
  </div>
</body>

</html>

